@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  font-family: 'Inter';
  color: #163541;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
}
.margin-r {
  margin-right: 9rem;
}

.navbar li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-variant: small-caps;
  color: #163541;
}

.navbar li a:visited {
  color: #163541;
}

header {
  display: flex;
  margin-top: 5rem;
}

#greeting {
  line-height: 0.5rem;
  margin-right: 2rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.2rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 0 auto;
  width: calc(0.5 * 100vw);
}

code {
  white-space: pre;
}